src/elm-stuff/
src/elm.js
src/build-artifacts/
src/scripts/littleReader.pyc
build/out/sns.js
build/out/aceCodeBox.js
build/out/ace.js
build/out/aceTooltips.js
build/out/animationLoop.js
build/out/fileHandler.js
build/out/colorScheme.js
build/out/syntaxHighlight.js
build/out/deucePopupPanelInfo.js
build/out/proseScroller.js
build/out/viz.js
build/out/dotGraph.js
build/out/mode-little.js
build/out/mode-elm.js
build/out/theme-chrome.js
build/out/focus.js
build/out/keyBlocker.js
build/out/outputCanvas.js
build/out/solverServer.js
build/out/windowOnLoad.js
build/out/img/*
*swp
src/*swp
src/*swo
src/bin/elm-make
examples/*swp
.bin/
elm-package.json
elm-stuff/
tests/build
user_study_logs/
user_study_surveys/
*.pyc
solver_server/reduce-algebra
solver_server/log.txt
reduce-algebra-js-oneshot/
