[Unit]
Description=Sketch-n-Sketch Solver Server
# This what sshd waits for, so probably what we need too.
After=network.target auditd.service

[Service]
ExecStart=/home/brian/sketch-n-sketch/solver_server/sketch-n-sketch_solver_server
Type=simple

[Install]
WantedBy=multi-user.target
# Alias=sketch-n-sketch_solver_server.service
